:root {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #f9d77e;
  --color-link-hover: #fff;
  --color-info: #efc453;
  --glitch-width: 100vw;
  --glitch-height: 100vh;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --time-anim: 4s;
  --time-anim-1: 4.5s;
  --delay-anim: 3.5s;
  --delay-anim-1: 7s;
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: none;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: transparent;
  --blend-color-5: #af4949;
}

/* Custom Theme */

:root {
  --color-1: rgb(60, 255, 70);
  --color-1-50: rgba(60, 255, 89, 0.5);
  --color-2: rgb(129, 255, 112);
  --bg-img: none;
}

.color_easy {
  background-color: green;
}

.color_medium {
  background-color: darkgoldenrod;
}

.color_hard {
  background-color: red;
}

.color_ninja {
  background-color: black;
}

.color_danger {
  color: var(--color-1) !important;
}

.btn-shadow.btn-danger,
.btn-shadow.btn-outline-danger {
  border-color: var(--color-2) !important;
  transition: none 0s ease 0s;
}

.btn-outline-danger {
  background-color: #28293e !important;
  color: var(--color-1) !important;
  border-color: var(--color-1) !important;
}

.btn-outline-danger:hover {
  background-color: var(--color-1) !important;
  color: rgb(255, 255, 255) !important;
  border-color: var(--color-1) !important;
}

.btn-shadow.btn-danger:hover,
.btn-shadow.btn-outline-danger:hover {
  background-color: var(--color-1) !important;
}

.btn-selected {
  background-color: var(--color-1) !important;
  color: rgb(255, 255, 255) !important;
}

.btn-shadow.btn-danger,
.btn-shadow.btn-danger.focus,
.btn-shadow.btn-danger:focus,
.btn-shadow.btn-outline-danger,
.btn-shadow.btn-outline-danger.focus,
.btn-shadow.btn-outline-danger:focus {
  box-shadow: 3px 3px 0 var(--color-2), 2px 2px 0 var(--color-2),
    1px 1px 0 var(--color-2) !important;
}

.btn-shadow.btn-danger:hover,
.btn-shadow.btn-outline-danger:hover {
  box-shadow: 5px 5px 0 var(--color-2), 4px 4px 0 var(--color-2),
    3px 3px 0 var(--color-2), 2px 2px 0 var(--color-2), 1px 1px 0 var(--color-2) !important;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem var(--color-1-50) !important;
}

@font-face {
  font-family: "PhelixBoomgartner";
  src: url("../fonts/PhelixBoomgartner.otf") format("opentype");
}

@font-face {
  font-family: "DoctorGlitch";
  src: url("../fonts/Doctor\ Glitch.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

p,
td,
a,
h4 {
  font-family: "Fira Code", monospace;
}

.collapsing {
  position: relative;
  height: 0;
  /* padding: 0; */
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* .collapsing * {
  visibility: hidden;
} */
/* 
.collapse.in {
  height: 1000px !important;
} */

body {
  /* background-image: url(../images/bg.png); */
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 350px;
  background-color: #00040d;
}

.solved .badge {
  background-color: #17b06b94;
  border: 1px solid #17b06b;
  color: white;
}

.badge {
  border: 1px solid black;
}

.solved {
  background-color: #ffffff14;
}

.solvers {
  color: #36a2eb;
  font-size: 1rem;
}

.solver_num {
  color: white;
}

.machine .solvers {
  font-size: 1rem !important;
}

.machine_page .solvers {
  font-size: 1.25rem !important;
}

.ip {
  padding-right: 20px;
}

.category_machine {
  border-top: 4px solid #ffa600a7;
}

.hackerFont {
  font-family: Hack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.color_white {
  color: white;
}

.bold {
  font-weight: bold;
}

h1,
h2 {
  font-family: "Fira Code", monospace !important;
}

h1.cool,
h2.cool {
  font-family: "PhelixBoomgartner" !important;
}

button.typewriter {
  max-width: 0%;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* margin: 0 auto; */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: expand 1s steps(140, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.typewriter h4 {
  width: 0%;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* margin: 0 auto; */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 0.5s steps(140, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.toggle-yes {
  border-radius: 6px 0 0 6px !important;
}

.toggle-no {
  border-radius: 0 6px 6px;
}

input[type="radio"].toggle {
  display: none;
}

input[type="radio"].toggle:checked + label {
  background-color: #714cdf;
  color: #fff;
}

/* The typing effect */

@keyframes expand {
  0% {
    max-width: 0%;
  }
  10% {
    max-width: 10%;
  }
  15% {
    max-width: 0%;
  }
  20% {
    max-width: 12%;
  }
  30% {
    max-width: 15%;
  }
  40% {
    max-width: 25%;
  }
  50% {
    max-width: 30%;
  }
  60% {
    max-width: 45%;
  }
  70% {
    max-width: 65%;
  }
  80% {
    max-width: 85%;
  }
  100% {
    max-width: 100%;
  }
}

/* The typing effect */

@keyframes typing {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  15% {
    width: 0%;
  }
  20% {
    width: 0%;
  }
  30% {
    width: 15%;
  }
  40% {
    width: 25%;
  }
  45% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 45%;
  }
  70% {
    width: 65%;
  }
  80% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.content__title {
  animation-name: glitch-anim-text;
  animation-duration: var(--time-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

.content__title2 {
  animation-name: glitch-anim-text-2;
  animation-duration: var(--time-anim-1);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.35);
}

/* glitch effect */

@keyframes glitch-anim-text {
  0% {
    /* transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); */
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    /* transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); */
  }
  10%,
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes glitch-anim-text-2 {
  0% {
    -webkit-clip-path: polygon(0 40%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 40%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 73%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 73%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 82%, 100% 44%, 0 0%);
    clip-path: polygon(0 44%, 100% 44%, 100% 82%, 0 0%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 11%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 11%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 20% 70%, 100% 40%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 20% 40%, 0 80%);
  }
  9.9% {
  }
  10%,
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.glitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glitch_bg {
  position: fixed;
  top: calc(-1 * var(--gap-vertical));
  left: calc(-1 * var(--gap-horizontal));
  width: calc(100% + var(--gap-horizontal) * 2);
  height: calc(100% + var(--gap-vertical) * 2);
  background: var(--bg-img);
  transform: translate3d(0, 0, 0);
  background-blend-mode: var(--blend-mode-1);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {
  position: fixed;
  top: calc(-1 * var(--gap-vertical));
  left: calc(-1 * var(--gap-horizontal));
  width: calc(100% + var(--gap-horizontal) * 2);
  height: calc(100% + var(--gap-vertical) * 2);
  background: var(--bg-img);
  transform: translate3d(0, 0, 0);
  background-blend-mode: var(--blend-mode-1);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.glitch_bg_login {
  background: url(../images/bg--world.png) !important;
}

.glitch_bg_404 {
  background: url(../images/404.gif) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

.glitch_bg_leaderboard {
  position: fixed !important;
  background: url(../images/bg--world.png) !important;
}

.glitch_bg_register {
  position: fixed !important;
}

.glitch_bg:nth-child(n + 2) {
  opacity: 0;
}

.imgloaded .glitch_bg:nth-child(n + 2) {
  animation-duration: var(--time-anim);
  animation-delay: var(--delay-anim-1);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.imgloaded .glitch_bg:nth-child(2) {
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2);
  animation-name: glitch-anim-1;
}

.imgloaded .glitch_bg:nth-child(3) {
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3);
  animation-name: glitch-anim-2;
}

.imgloaded .glitch_bg:nth-child(4) {
  background-color: var(--blend-color-4);
  background-blend-mode: var(--blend-mode-4);
  animation-name: glitch-anim-3;
}

.imgloaded .glitch_bg:nth-child(5) {
  background-color: var(--blend-color-5);
  background-blend-mode: var(--blend-mode-5);
  animation-name: glitch-anim-flash;
}

@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0)
      scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0)
      scale3d(-1, -1, 1);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

#preloader {
  width: 100%;
  /* height: 100%; */
}


.table td,
.table th {
  vertical-align: middle !important;
  background-color: #00040d;  
}

#preloader {
  background: black;
  color: #ddd;
  box-sizing: border-box;
}

#preloader::-webkit-scrollbar {
  display: none;
}

span.ok,
span.fail,
span.fail:before,
span.ok:before {
  margin-right: 10px;
}

span.ok {
  color: #1ec622;
}

span.fail {
  color: red;
}

span.ok:before,
span.fail:before {
  content: "[";
}

span.ok:after,
span.fail:after {
  margin-left: 10px;
  content: "]";
}

a.text-light:hover,
a.text-light:focus {
  color: #dbebfb !important;
}

#__react-alert__ div div div {
  width: auto !important;
}

.tradeMark {
  position: fixed;
  bottom: 0 !important;
  right: 0 !important;
  padding: 10px;
  text-align: right;
  font-size: 0;
}

.tradeMark:hover {
  font-size: 12px;
}

.tradeMark a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.tradeMark p {
  margin: 0;
  color: #dbebfb !important;
}

.tradeMark p:hover {
  text-decoration: underline;
}

.tradeMark img {
  max-width: 75px;
  transform: scaleX(-1);
  cursor: pointer !important;
}

.min-input {
  padding: 3px;
  background: none;
  color: white;
  border: none;
}

.min-input:focus,
.main-input:active {
  outline: none;
}

.min-btn {
  border: none;
}

.min-btn,
.min-btn:active,
.min-btn:focus {
  outline: none !important;
}

.min-btn:hover {
  color: var(--color-1);
}

.notification-close:hover {
  color: var(--color-1) !important;
}
